* {
    box-sizing: border-box;
    background-color: #e5f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Dai Banna SIL", serif;
}

p {
    font-family: "Libertinus Serif", serif;
}

.page-layout {
    display: flex;
    width: 100%;
}

nav a {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
}

img[alt="Courses"],
[alt="Assignments"], 
[alt="Calendar"] {
    width: 40px;
    height: auto;
}


header h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

h1 + h1 {
    margin-top: 5px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

nav {
    width: 220px;
    padding: 20px;
    flex-shrink: 0;
}

nav li {
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: black;
    padding: 4px 4px;
    text-decoration: none;
}

li a:hover {
    background-color: #928f8f;
    color: white;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.class-assignments,
.class-courses {
    flex: 1;
    min-width: 0;
    display: flex;
}

.section1,
.section2 {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-layout {
    display: flex;
}

main {
    display: flex;
    flex: 1;
}