* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

nav {
    width: 220px;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #928f8f;
    color: white;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.class-assignments,
.class-courses {
    flex: 1;
}

.section1,
.section2 {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-layout {
    display: flex;
}

main {
    display: flex;
    flex: 1;
}