* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Dai Banna SIL", serif;
}

p {
    font-family: "Libertinus Serif", serif;
}

.page-layout {
    display: flex;
    width: 100%;
}

nav img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    flex-shrink: 0;
}

img[alt="Courses"],
img[alt="Assignments"], 
img[alt="Calendar"] {
    width: 40px;
    height: auto;
}


header h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 5px;
}

header h1 span {
    display: block;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e5f7f7;
}

header {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

nav {
    width: 220px;
    padding: 20px;
    flex-shrink: 0;
}

nav li {
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    padding: 4px;
    text-decoration: none;
}

li a:hover {
    background-color: #928f8f;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding: 20px;
    min-width: 0;
}

.top-row,
.bottom-row {
    display: flex;
    gap: 20px;
}

.dashboard-assignments,
.dashboard-courses,
.dashboard-schedule,
.dashboard-grades,
.dashboard-notifications {
    flex: 1;
    min-width: 0;
    display: flex;
}

.section1,
.section2,
.section3,
.section4,
.section5 {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}